.idea/
.vscode/
.vs/
.xmake/
*.pdb
*.dll
*.lib
*.exp
*.exe
*.so
*.bff
*.ifc
*.fdb
*std.*
*.vcxproj
*.sln
*.gen.h
*.gen.cpp
*DotSettings.user
.vs/
compile_commands.json

*runtimedependencies.txt
*imgui.ini

# Ignore DXTK built compiled shaders
Engine/Source/ThirdParty/DirectXTK/Src/Shaders/Compiled/*
Engine/Source/ThirdParty/DirectXTex/Shaders/Compiled/*

# bazel files
env/
build/
ConanPresets.json
CMakeUserPresets.json
logs/
